# dependencias
/node_modules

# next
/.next
/out
next-env.d.ts
*.tsbuildinfo

# produccion
/build

# entorno (¡NUNCA subir tus llaves!)
.env
.env.local
.env*.local

# base de datos local
*.db
*.db-journal
local.db*

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
